<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h1 class="page-header">Helmet Detection</h1>
			
		<div class="form-group row">
  <div class="input-group">
    <input type="text" id="datetimepicker" class="form-control" name="date">
    <label class="input-group-addon btn" for="date">
       <span class="fa fa-calendar open-datetimepicker"></span>
    </label>
</div>
  
  <label for="example-datetime-local-input" class="col-2 col-form-label">To:</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" max="">
  </div>

</div>
		<button type="submit" class="btn btn-primary">Fetch</button>
			</div>
	</div>
</div>
