ul { padding:0; width:1200px; margin:20px 100px;}
li { display:inline;}
    .tn1{
 margin:8px 8px;
 border: 4px solid #eee;
 box-shadow:#555 1px 1px 8px 1px;
 cursor: pointer;
 
    }
    .tn{
      opacity: 1px;
 transform: scale(1);
    }
    .tn1:hover{
      transform: scale(1.1);
       transition: 1s;
      opacity: 0.3;
    
    }
    .tn:hover + .details{
  opacity: 1;
}
.modal-content{
  
  width: 1200px !important;
}

h1, h2{
    margin-bottom: 20px;
}

p{
  position: absolute;
  display: inline-block;
  margin:110px 0px 100px -215px;
 color: black;
 opacity: 0.01;
  transition: opacity 1s;
}

.bg{
  width: 100%;
    height: 800px;
    background: url('../../../assets/img/bg2.jpg') no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
}