<router-outlet></router-outlet>
<app-top-nav></app-top-nav>
<div class="bg">
<h2>Recent Photos</h2>
<div class="row">
   
         <ul id="thumbnailsList">
	                  <li *ngFor="let image of visibleImages" >
            <a [routerLink] ="['/image', image.id]" class="tn">
                <img src="{{image['url']}}" class="tn1" width="300" height="260">
                
                
            </a>
            <p class="details">
                    {{title}}</p>
                          
        </li>
    </ul>
    
</div>
</div>